/* app css stylesheet */

.news__filters_space_top {
  margin-top: 50px;
}

.news__filters_space_left {
  padding-left: 45px;
}

.news__subheading {
  margin: 0;
}

.news__news-card {
  background-color: rgb(238, 238, 238);
  border: 1px solid #c3c3c3;
  border-radius: 3px;
  margin-bottom: 50px;
}

.news__card-title {
  border-bottom: 1px solid #c3c3c3;
}

.news__card-heading {
  color: #999;
  padding: 15px;
  margin: 0;
  font-size: 18px;
  font-weight: bold;
}

.news__card-body {
  background-color: white;
  margin-left: 0;
  margin-right: 0;
}

.header__navigation-list {
  list-style: none;
  margin-bottom: 0;
}

