/* app css stylesheet */

.news__news-card {
  background-color: rgb(238, 238, 238);
}

.news__card-heading {
  color: #999;
  font-size: 18px;
  font-weight: bold;
}

.news__card-body {
  background-color: white;
  margin-left: 0;
  margin-right: 0;
}

.btn-primary {
  background-color: #337ab7;
  border-color: #2e6da4;
}

a {
  cursor: pointer;
}