<h1 class="news__heading mt-3 ml-3">Everything</h1>
<div ng-controller="EverythingNewsCtrl" class="news__news-content news__filters_space_left container mt-5 ml-3">
  <!------------------------COMPONENT FOR FILTERS OF COUNTRIES---------------------------->
  <div>
    <h2 class="news__subheading">Search:</h2>
    <form novalidate class="news__search-input row mb-5" ng-submit="getKeywordsNews()">
      <div class="col">
        <input value="keywords" ng-model="keyword" class="form-control col mt-2" type="text" placeholder="Search..." aria-label="default input example">
      </div>
      <button type="submit" class="btn btn-primary mt-2 col-2">Filter</button>
    </form>
  </div>
  <!------------------------------COMPONENT CARDS LIST----------------------------------->

  <div class="news__news-cards-list news__filters_space_top">
    <news-everything></news-everything>
  </div>
  <!------------------------------COMPONENT OF PAGINATION----------------------------------->
  <div class="news__pagination  d-flex justify-content-center">
    <nav aria-label="Page navigation example">
      <ul class="pagination">
        <li class="page-item" ng-class="{disabled: currenPage === 1}">
          <a ng-click="paginate(currenPage - 1)" class="page-link" href="#" aria-label="Previous">
            <span ng-click="paginate(currenPage - 1)" aria-hidden="true">&laquo;</span>
          </a>
        </li>
        <li ng-repeat="pageTab in getTotalPages()" ng-class="{active: currenPage === pageTab}"  class="page-item"><a ng-click="paginate(pageTab)" class="page-link">{{ pageTab }}</a></li>
        <li class="page-item" ng-class="{disabled: getTotalPages().length === prevParams.page}">
          <a ng-click="paginate(currenPage + 1)" class="page-link" aria-label="Next">
            <span  aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>