<h1 class="news__heading mt-3 ml-3">Top headlines</h1>
<div ng-controller="TopHeadlinesCtrl" class="news__news-content news__filters_space_left container mt-5">
    <!------------------------COMPONENT FOR FILTERS OF COUNTRIES---------------------------->
   <filter-category-country></filter-category-country>
    <!------------------------------COMPONENT CARDS LIST----------------------------------->
   <div class="news__news-cards-list news__filters_space_top">
        <card-news></card-news>
   </div>
    <!------------------------------COMPONENT OF PAGINATION----------------------------------->
   <div class="news__pagination  d-flex justify-content-center">
       <nav aria-label="Page navigation example">
         <ul class="pagination">
           <li class="page-item" ng-class="{disabled: currentPage === 1}">
             <a ng-click="paginate(currentPage - 1)" class="page-link" href="#" aria-label="Previous">
               <span ng-click="paginate(currentPage - 1)" aria-hidden="true">&laquo;</span>
             </a>
           </li>
           <li ng-repeat="pageTab in getTotalPages()" ng-class="{active: currentPage === pageTab}"  class="page-item"><a ng-click="paginate(pageTab)" class="page-link">{{ pageTab }}</a></li>
           <li class="page-item" ng-class="{disabled: getTotalPages().length === currentPage}">
             <a ng-click="paginate(currentPage + 1)" class="page-link" aria-label="Next">
               <span  aria-hidden="true">&raquo;</span>
             </a>
           </li>
         </ul>
       </nav>
     </div>
</div>